body {
    background-color: rgb(250, 144, 170);
    color: rgb(0, 0, 0);
    font-family: "Cormorant", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(27, 214, 136);
    color: rgb(0, 0, 0);
    font-family: "Cormorant", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 70%;
}